*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.theContainer{
    display: grid;

    grid-template-columns: 10% 70% 20%;

    background-color: #203239;
    color: aliceblue;
}

.theHeader{
    grid-column: 2/3;

    padding-left: 5%;
    margin-top: 1%;
    border-bottom: 2px solid #141E27;
    padding-right: 5%;
}
.theHeader  .B13{
    font-size: 1.5rem;
    color: #E0DDAA;
}
.theHeader button{
    display: none;
}
.theTitle a{
    display: none;
}

.theNav{
    grid-column: 1/2;

    position: fixed;
    width: 10%; 
    height: 100vh;  
    top: 0;
    padding-left: 0;
    text-align: center;
    border-right: 2px solid #141E27;
}
.navIcon{
    margin-top: 10%;
    margin-bottom: 5%;
    width: 50%;
}
.navIcon:hover{
    width: 40%;
    transition: all .2s linear;
}

.theUL{
    display: block;
    padding-left: 0;

    margin-top: 6rem;

    list-style-type: none;
  }
.theLI{
    margin-bottom: 4rem;
    text-align: center;
}
.fa-solid{
    color: #E0DDAA;
}
.theLI .fa-solid:hover{
    color: #EEEDDE;
    padding-left: 1rem;
    transition: all .2s linear;
}

hr{
    color: #141E27;
}

.theAside{
    grid-column: 3/4;

    position: fixed;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 80%;

    border-left: 2px solid #141E27;
}
.theAsideContent{
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    justify-content: space-around;

    height: 50%;
    width: 20%;
    margin-top: 1%;
    padding: 1%;
    
}
.theNButton{
    box-sizing: border-box;
    margin: 1%;
    display: block;;
    padding-right: 7%;
}

.sectionButton{
    margin-top: 2rem;
    background: #E0DDAA;
}
.sectionButton:hover{
    background: #141E27;
    color: #EEEDDE;
}
/*the button will resize based on condition*/
@media screen and (max-width: 1200px){
    .sectionButton{
        display: block;
        margin-top: 1rem;
        width: 20%;
    }

}
.searchBar{
    display: flex;
    justify-content: center;
    width: 100%;
    background: #EEEDDE;
    border-radius: 60px;
    padding: 2%;
}
.searchBar input{
    background: transparent;
    border: 0;
    width: auto;
    max-width: 80%;
    border: 0;
    outline: none;
}
.searchBar button{
    background-color: transparent;
    border: 0;
}

.searchBar ::placeholder{
    color: #203239;
}
/*the searchbar will resize based on condition*/
@media screen and (max-width: 1200px){
    .searchBar{
        padding: 0%;
        width: 100%;
        height: 10%;
    }
}
.profile{
    width: 40%;
    border-radius: 60%;
}
.theAsideContent ul, li {
    list-style-type: none;
    padding-top: 0.3rem;
    padding-left: 0.3rem;
}
.theAsideContent h4 {
    color: #E0DDAA;
}
.profileStatus{
    border-top: 2px solid #141E27;
    border-bottom: 2px solid #141E27;
    padding-top: 0.8rem;
}
.asidePic{
    width: 20%;
    display: flex;
    flex-flow:nowrap;

}

/*Article components modification*/
.ArticleHeader{
    display: flex;
    justify-content: start;
    color: #E0DDAA;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}
.ArticleHeader h2{
    font-size: 1.5rem;
}
.thisIsImpText{
    color: #E0DDAA;
}

.theSyntax .noTheSyntax{
    color: #FFFFFF;
}

.theArticle1 p, .theArticle2 p, .theArticle3 p, .theArticle4 p, .theArticle5 p, .theArticle6 p, .theArticle7 p, .theArticle8 p{
    text-align: justify;
    background: #38444d;
    padding: 1rem;
}

/*article1*/
.theArticle1{
    grid-column: 2/3;

    padding: 1.5rem;
    background: #141E27;
    margin: 1rem;
}

.theArticle1 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
@media screen and (max-width: 600px) {
    .theArticle1 img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }    
}

/*article2*/
.theArticle2{
    grid-column: 2/3;

    padding: 1.5rem;
    background: #141E27;
    margin: 1rem;
}

.theParagraph{
    background: #38444d;
    border-radius: 10px;
}
.theParagraph p{
    border-radius: 10px;
}
.theSyntax{
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.theSyntax p{
    background: #203239;
    color: #E0DDAA;
    border-radius: 10px;
}

.theArticle2 a{
    color: #E0DDAA;
}

/*article3*/
.theArticle3{
    grid-column: 2/3;

    padding: 1.5rem;
    background: #141E27;
    margin: 1rem;
}

.theArticle3 .theSyntax p{
    background: #203239;

}

/*article4*/
.theArticle4{
    grid-column: 2/3;

    padding: 1.5rem;
    background: #141E27;
    margin: 1rem;
}

.theArticle4 .theSyntax p{
    background: #203239;

}

/*article5*/
.theArticle5{
    grid-column: 2/3;

    padding: 1.5rem;
    background: #141E27;
    margin: 1rem;
}
.theArticle5 a{
    color: #E0DDAA;
}


.theArticle5 .theSyntax p{
    background: #203239;

}

/*article6*/
.theArticle6{
    grid-column: 2/3;

    padding: 1.5rem;
    background: #141E27;
    margin: 1rem;
}

/*article7*/
.theArticle7{
    grid-column: 2/3;

    padding: 1.5rem;
    background: #141E27;
    margin: 1rem;
}
/*article8*/
.theArticle8{
    grid-column: 2/3;

    padding: 1.5rem;
    background: #141E27;
    margin: 1rem;
}
.theArticle8 .gitRepresentation{
    display: block;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    width: 80%;
}

.theResources a{
    text-decoration: none;
}

.Resources{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    
}
.theArticle8 .theResources p{
    border-radius: 10px;
    grid-column: 1/2;
    padding-top: 3rem;

    text-align: center;

    width: 100%;
}
.theArticle8 .CarlosPanganiban{
    position: relative;
    max-width: 100px;
    border-radius: 50%;
    grid-column: 2/3;

    margin-top: -2.5rem;
    top: 2.5rem;
}
.theFooter{
    padding-left: 5%;
    padding-right: 5%;
    grid-column: 2/3;   
}

/*the components will change*/
@media screen and (max-width: 576px){


.theHeader{
    position: sticky;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding-left: 0;

    background: #203239;
}
.theHeader .B13{
    padding-left: 1rem;
    padding-bottom: 1rem;
}
.theTitle h1{
    display: inline;
}
.theTitle a{
    display: inline;
    position: absolute;
    margin-left: 5rem;
    margin-top: 0.2rem;
}
.theHeader a{
    color: #EEEDDE;
}
.theHeader button{
    display:flex;
}
.theNav{
    display: none;
}
.theAside{
    display: none;
}
.theLI{
    margin-bottom: 0;
    text-align: start;
    padding-left: 1.2rem;
}
.theLI .fa-solid{
    padding-right: 0.5rem;
}

.theHeader, .theArticle1, .theArticle2, .theArticle3, .theArticle4, .theArticle5, .theArticle6, .theArticle7, .theArticle8{
    grid-column: 1/4;
}
.theArticle8 img{
    width: 100%;
}

}

