*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow-x: hidden;

    height: 100vh;

    display: flex;
    flex-direction: column;
    align-content: space-between;
}
.theHamburger{
    display: block;
    color: #FFFFFF;
}
.navbar-toggler span {
    padding:7px;
}
.theNavbar{
    z-index: 2;
}
.theNavbarLogo{
    color: #FFFFFF;
    text-decoration: none;
}
.theNavbarLogo:hover{
    color: #FFFFFF;
}
.theNavbarText{
   color: #FFFFFF;
   border-radius: 5px;
   font-size: large;    
}
#theNavbarTextBG:hover{
    color: #FFFFFF;
    background-color: #06283D;
    padding-top: 6px;
    transition: all .2s linear;
    border-radius:10px;
}
.landing-page{
    box-sizing: border-box;
}
.bg{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    object-fit: cover;
}
section{
    position: relative;
    align-items: center;
    z-index: 2; 
    color: #FFFFFF;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 8%;
}
.TheText{
    align-items: center;
    justify-content: center;
}
section h1{
    font-size: 5rem;
}
section p{
    width: 70%;
    padding: auto;
    margin-left: 15%;
}
a{
    color: #000000;
    text-decoration: none;
}
a:hover{
    color: #FFFFFF;
    text-decoration: none;
}
button{
    background-color: #FFFFFF;
    border-radius: 10px;
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 2rem;
}
button:hover{background-color: #000000;}

footer{
    position: relative;
    text-align: center;
    font-size: 15px;
    color: #FFFFFF;
    bottom: 0;
    z-index: 2;

    margin-top: auto;
}
.theIcons{padding-left: 2%;}
.iconFA{
    color: #FFFFFF;
}
.iconFA:hover{
    color: #06283D;
}

@media screen and (max-width: 765px) {
    section{
        height: 70vh;
    }
    section p{
        width: 80%;
        margin-left: 10%;
    }
}
@media screen and (min-width: 376px) and (max-width: 500px) {
    section{height: 52vh;}
    section h1{
        font-size: 2rem;
        margin-top: 2rem;
    }
    p{font-size: 1rem;}
}
@media screen and (max-width: 376px) {
    section h1{
        font-size: 2rem;
        margin-top: 0;
        padding-top: 0;
    }
    p{font-size: 0.8rem;}

    .iconFA{font-size: 1.3rem;}

    section{height: 65vh;}
}