*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.landing-page{
    position: relative;
    height: 90vh;

    background-image: linear-gradient(45deg,  #203239, #141E27, #69685A);
    /*background-color: #203239;*/
}

.theNavbar{
    background-color: #203239;
}


.navbar-toggler span {
    padding:7px;
}

.theNavbarLogo{
    color: #EEEDDE;
    text-decoration: none;
}
.theNavbarLogo:hover{
    color: #E0DDAA;
    text-decoration: underline;
}

.theNavbarText{
   color: #EEEDDE;
   border-radius: 5px;
   font-size: large;    
}
#theNavbarTextBG:hover
{
    color: #203239;
    background-color: #E0DDAA;
    padding-top: 6px;
    transition: all .2s linear;
    border-radius:10px;
}

#landingText p{
    color: #EEEDDE; 
    font-size: 18px;
}

#landingText h1{
    color: #EEEDDE; 
    font-size: 50px;
}

.theSection{
    display: grid;
    grid-template-columns: 60% 40%;

    height: 350px;
    column-gap: 10px;

    padding-top: 6rem;
}

#checkItOut{
    color: #E0DDAA;
}
#checkItOut:hover
{
    color: whitesmoke;
}

#LandingText{
    grid-column: 1/3;
}

.sectionButton{
    background: #E0DDAA;
}

.sectionButton:hover{
    background: #141E27;
    color: #EEEDDE;
}

#gitPic{
    grid-column: 2/3;
    object-fit: cover;
}

footer{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-size: 15px;
    color: #EEEDDE;
    background-color: #203239;
}


.iconFA{
    color: #E0DDAA;
}
.iconFA:hover{
    color: #EEEDDE;
}
/*When user is in md size screen*/
@media screen and (min-width: 376px) and (max-width: 600px) {
    .theSection{
        grid-template-columns: 1fr;
        padding-top: 2rem;
    }

    #LandingText{
        grid-column: 1/2;
        grid-row: 1/2;
        text-align:center;
    }
    #LandingTextp, p, h1{
        text-align:start;
    }
    
    #gitPic{
        grid-column: 1/2;
        grid-row: 2/3;
        padding-top: 0px;
        height: 20rem;
        padding-left: 5rem;
    }


}
/*for extra samll screen*/
@media screen and (max-width: 415px) {
    
    .theSection{
        padding-top: 2rem;
    }
}
@media screen and (min-width: 376px) {
    #gitPic{
        padding-left: 5rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
        column-gap: 30px;
    }
}

@media screen and (max-width: 360px) {
    .sectionButton{
        margin-top: 40px;
    }    

    #gitPic{
        padding-top: 5rem;
    }
}
