.theHamburger{
    display: block;
    color: #E0DDAA;
}

.landing-page{
    position: relative;
    height: 90vh;

    background-image: linear-gradient(45deg,  #203239, #141E27, #69685A);
    /*background-color: #203239;*/
}

.theNavbar{
    background-color: #203239;
}

.navbar-toggler span {
    padding:7px;
}

.theNavbarLogo{
    color: #EEEDDE;
    text-decoration: none;
}
.theNavbarLogo:hover{
    color: #E0DDAA;
    text-decoration: underline;
}

.theNavbarText{
   color: #EEEDDE;
   border-radius: 5px;
   font-size: large;    
}
#theNavbarTextBG:hover
{
    color: #203239;
    background-color: #E0DDAA;
    padding-top: 6px;
    transition: all .2s linear;
    border-radius:10px;
}
.landing-page{
    position: relative;
    height: 100vh;

    background-image: linear-gradient(45deg,  #203239, #141E27, #69685A);
    /*background-color: #203239;*/
}

.theForm h3{
    text-align: center;
    padding-top: 3rem;
    color: #FFFFFF;
}

form{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    max-height: 90vh;
    border: 2px solid #69685A;
    padding: 5rem;
    border-radius: 10px;
}

.theForm input{
    background: #E0DDAA;
    outline: none;
}  

.theForm button{
    color: #141E27;
}  

label, h6{
    color: #E0DDAA;
}

@media screen and (max-width: 764px) {
    form{
        width: 90%;
        padding: 1rem;
    }   
}